# variables "in python use to store certain data 
like bucket

In [3]:
siva_marks = 90
siva_marks = siva_marks-10
print(siva_marks)              # previous value removed and new value stored in variable ( value store in RAM)

80

In [5]:
siva_marks = 90

In [12]:
siva_marks = 90
Siva_marks = 90


_siva_marks = 90

- special character = ! @ # $ % ^ & * ( ) / \ [ ] - space  ==> not allowed in variable
- only special character that is allowed _
- number is now allowed at the begnning of variable(only underscore & alphabets allowed in the begnning)
- any special character apart from[ _(underscore)] not allowed in variables

In [ ]:
a) siva_marks = 90
b) siva-marks = 90   
c) 1siva_marks = 90  
d) Siva1_marks = 90
e) SivaMarks = 90
f) S9marks = 90
g) 9siva_marks = 90  
h) siva_marks90 = 90
i) sivamarks_ = 90

In [46]:
SIVA = 10
siva = 20
SivA = 30    # python is case-sensetive language

In [ ]:
b,c,g-> incorrect variable names

In [ ]:
1siva_marks = 90

# Data Type-  immutable(number,string,tuple) mutable(list,dict,set)
           immutable - changes are not allowed                         mutable - changes are allowed 
###  1) number- integer, float, Complex datatype(5+7j)

In [5]:
a = 10
a = 30   # previous value removed and new value store
print(a)
type(a)

30

int

In [18]:
num = 19                            # but input() value store in str datatype
type(num)

int

In [21]:
num1 = 19.01
print(type(num1))

<class 'float'>

In [28]:
num2 = 10 + 6j
num3 = 5 + 7j
print(num2+num3)

(15+13j)

In [32]:
num5 = 7j
print(type(num5))

<class 'complex'>

In [7]:
num1 = 10
num2 = 21
print(num1+num2)
print(num1*num2)
print(num1-num2)
print(num2/num1)  
print(num2//num1)   # to get float ans in int form

31
210
-11
2.1
2

In [2]:
a= 10/5
print(a)
b= 10//5
print(b)

2.0
2

In [35]:
num1  =10
print(num1)
num2 = 20
print(num2)

10
20

In [43]:
num1 = 9
num2 = 2
num3 = 11

remainder = 9%2   # modulus operator--> to get remainder part
print(remainder)

1

In [47]:
# check whether 19 is a even number
19%2    # if o/p 1 thengiven number odd and when 0 then even

1

In [15]:
x = int(input()) #we  use int because value  input stored in string so convert it.
y = x%2
print(y)

23
1

In [8]:
#check whether 19 is a even number -> comments that are for developer reference

In [9]:
# check whether 18 is an even number
18%2

0

In [41]:
num5 = 1j

In [44]:
num1*num2 + num3

29

#  2) List datatype

In [50]:
## 57 students and I want to store there marks

In [ ]:
student_1 = 59
student_2 = 90
student_3 = 61
student_4 = 89   #here need to create different variable for diff no. but in list do not need to create multiple variables

In [2]:
student_marks = [59,90,61,89,99.9]      # list datatype to store group of data and in one list can be multiple type of data
                                        # array store same data type but list can store diff datatype within

In [57]:
print(student_marks)

[59, 90, 61, 89, 99.9]

In [55]:
print(type(student_marks))

<class 'list'>

In [58]:
student_marks[3]                # indexing start from 0,1,2,3,4,5,....

89

In [59]:
student_marks[-2]             # reverse indexing starts from -1,-2,-3,-4,.......

89

In [1]:
student_marks = [59,90,61,89,99.9]
len(student_marks)                   # use this function to get number of elements

5

In [64]:
"""
number of elements stored in list
hi this is second line comment
"""

# number of elements stored in list
# hi this is second line comment    (control forward slash)

len(student_marks)

5

In [67]:
student_marks

[59, 90, 61, 89, 99.9]

In [74]:
student_marks[1:]                  # nothing mean continue

[90, 61, 89, 99.9]

In [72]:
## slicing of list
student_marks[1:4]             # 4th will not include

[90, 61, 89]

In [63]:
print(student_marks[2],student_marks[4])

61 99.9

In [71]:
random_list = [1,2,3,4,"Chatterjee"]                        # list can be include different data type in single list

In [4]:
random_num = [1,2,3,4,5,6,7,8,9,10]

In [5]:
random_num[1::2]                     #random_num[start:end:step_size]

[2, 4, 6, 8, 10]

In [6]:
random_num[0::2]

[1, 3, 5, 7, 9]

In [7]:
random_num[1:-1]                # last element not included

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
random_num[start:end:step_size]

In [9]:
random_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
random_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
name_list = ["Sachin",'Pranay']

In [87]:
## concatenation of list i.e. attached other list at the end of list
new_list = random_num + name_list          # random_num + ["Sachin","Pranay"]  <-- this also can write

In [88]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Sachin', 'Pranay']

In [89]:
## appending element to the end of list (use to add one element at end of list)
new_list.append('Ribin')

In [90]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Sachin', 'Pranay', 'Ribin']

## Homework

Given a list of marks of students
[10,20,90,99,45,76,88]
- get the last two students marks
- starting from the first student marks create a list of marks of every third student
- in the above list add two more students marks i.e. add 87,67

In [21]:
marks_of_students = [10,20,90,99,45,76,88]
print(marks_of_students[-2:])
print(marks_of_students[0::3])
marks_of_students.append(87)
marks_of_students.append(67)
print(marks_of_students)

[76, 88]
[10, 99, 88]
[10, 20, 90, 99, 45, 76, 88, 87, 67]

In [ ]:
## Student Queries

student = [10,20,30,40,50,60]
print(student[0:6:3])
its giving 10,40
why not 30,60
----------------------------------------------------------------------------

Given a list of marks of students

[18,28,90,99,45,76]

- get the last two students marks

-starting from the first student marks create a list
of marks of every third student in the above list 
-add two more students marks i.e. add 87,67

In [2]:
## get the last two students marks
student_marks = [18,28,90,99,45,76]
print(student_marks[4:])
print(student_marks[-2:])

[45, 76]

[45, 76]

In [9]:
## every third student from the starting
student_marks[0::3]

[18, 99, 87]

In [4]:
## add two student marks 87,67

student_marks.append(87)
student_marks.append(67)

In [5]:
print(student_marks)

[18, 28, 90, 99, 45, 76, 87, 67]

In [5]:
student_marks = [18,28,90,99,45,76]+[87,67]
print(student_marks)

[18, 28, 90, 99, 45, 76, 87, 67]

In [6]:
[18,28,90,99,45,76]+[87,67]

[18, 28, 90, 99, 45, 76, 87, 67]

In [8]:
student_marks[0::3]+[87,67]

[18, 99, 87, 87, 67]

In [10]:
# get documentation of a list variable
help(student_marks)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [12]:
student_marks.extend(["Chatterjee","Shivraj"])

In [13]:
student_marks

[18, 28, 90, 99, 45, 76, 87, 67, 'Chatterjee', 'Shivraj']

In [22]:
student_marks.insert(0,"Chatterjee")

In [24]:
student_marks.insert(1,"Shivraj")

In [26]:
student_marks.insert(-1,"Shivraj")

In [27]:
student_marks

['Chatterjee', 'Shivraj', 18, 28, 90, 99, 45, 76, 'Shivraj', 87]

In [14]:
last_value = student_marks.pop()

In [15]:
print(last_value)
print(student_marks)

Shivraj
[18, 28, 90, 99, 45, 76, 87, 67, 'Chatterjee']

In [17]:
last_value = student_marks.pop(-2)

In [18]:
print(last_value)
print(student_marks)

67
[18, 28, 90, 99, 45, 76, 87, 'Chatterjee']

In [28]:
student_marks

['Chatterjee', 'Shivraj', 18, 28, 90, 99, 45, 76, 'Shivraj', 87]

In [29]:
# student_marks.pop(-3)
student_marks.remove(76)        # if we don't know the index then we can remove directly by the element

In [30]:
print(student_marks)

['Chatterjee', 'Shivraj', 18, 28, 90, 99, 45, 'Shivraj', 87]

In [31]:
student_marks.remove('Shivraj')

In [32]:
print(student_marks)

['Chatterjee', 18, 28, 90, 99, 45, 'Shivraj', 87]

## List methods/functions

- append : add a single element to the (end of the list)
- extend : add multiple elements to the (end of the list)
- insert : insert any element at a (given index)
- pop: remove a single element from the list( by index)--enter indexing position in pop fun
- remove: removes a single element (by the element) --direct  element enter which we have to remove 
- count: get the count of occurrence of a (particular element)
- len() use to count elements in list
- clear: it used to remove all elements from list
- sort: it is used to arrange in ascending **student_marks.sort()** or descending order **student_marks.sort(reverse=True)**

In [33]:
st = [1,10,30]

In [34]:
st.append("Shivraj")

In [39]:
student_marks.append("Shivraj")

In [40]:
student_marks

['Chatterjee', 18, 28, 90, 99, 45, 'Shivraj', 87, 'Shivraj']

In [47]:
student_marks.count("Chatterjee")

1

In [34]:
len(student_marks)

9

In [11]:
student_marks = ['Chatterjee', 18, 28, 90, 99, 45, 'Shivraj', 87, 'Shivraj']
student_marks.clear()
print(student_marks)

[]

In [43]:
student_marks.clear()

In [48]:
student_marks = [19,90,31,34,65,33,32]

In [ ]:
# ascending order
student_marks.sort()

In [52]:
# descending -> largest to smallest
student_marks.sort(reverse=True)

In [55]:
student_marks

[90, 65, 34, 33, 32, 31, 19]

In [1]:
list("Welcome")        #it's type conversion from string to list

['W', 'e', 'l', 'c', 'o', 'm', 'e']

In [2]:
help([])

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [3]:
message = "Welcome"
print(type(message))

<class 'str'>

In [4]:
message_list = list(message)
print(message_list)             #changed message into list
print("type of message_list = ",type(message_list))

['W', 'e', 'l', 'c', 'o', 'm', 'e']
type of message_list =  <class 'list'>

## Type Conversion
- changing of data type of variable from one to another is know type conversion
- num=int(32.5)

In [13]:
type(32.5)

float

In [1]:
num = int(32.5)
print(num)
print(type(num))

32
<class 'int'>

## implicit type conversion

In [10]:
32.5+30     # before addition 30 converts into 30.0 and then addition happens

62.5

## explicit type conversion

In [12]:
# '32' + 32   not happen string and int addition not happen
int('32')+32  # convert '32' str to int

64

#  3) Strings

#### any combination of alphabets, number and special characters that are stored ** within quotation ** marks is known as string

## Properties of string data type

- immutable data type

In [14]:
example_1 = "Ribin Pary"
print(type(example_1))

<class 'str'>

In [15]:
example_2 = 'Ribin Pary got 21 marks in last quiz'
print(type(example_2))

<class 'str'>

In [16]:
example_3 = "21"
print(type(example_3))

<class 'str'>

In [17]:
example_4 = """Ribin Pary got 21 marks in last quiz.
He has been improving quite a lot in python.
Its good to see the improvement
"""

In [18]:
print(type(example_4))

<class 'str'>

In [19]:
print(example_4)

Ribin Pary got 21 marks in last quiz.
He has been improving quite a lot in python.
Its good to see the improvement

In [20]:
example_5 = '''
            Hi how are you?
            I have been studying python since last week.
            Its an interseting programming language
            '''

In [21]:
print(type(example_5))

<class 'str'>

In [22]:
print(example_5)

            Hi how are you?
            I have been studying python since last week.
            Its an interseting programming language

In [3]:
example_6 = "HI how are you I am good"

In [2]:
name = "CV Veerappan"      # indexing is possible in string
name[0]

'C'

In [13]:
name = "CV Veerappan"    # item assignment is not supported
name[0]='P'
print(name)

TypeError: 'str' object does not support item assignment

In [27]:
num = [1,2,3,4]
num[0] = 10
print(num)

[10, 2, 3, 4]

In [5]:
name = "shivam"      #variable is like  pointer only..it is pointing to data where it is located in memory
print(id(name))
name = "sham"
print(id(name))

127704562224
127735908016

In [7]:
shivam = "name"
print(id(shivam))
sham = "name"
print(id(sham))

127624760048
127624760048

In [30]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [31]:
id(num)

3028446477760

In [32]:
name = "shivam"
print("before change: ",id(name))
name = "sam"
print("after change: ",id(name))

before change:  3028446536240
after change:  3028428969584

In [33]:
name          # only variable change (get illusion of change)but memory address not change they create 2 address

'sam'

In [ ]:
"name"

In [35]:
num1 = 10         
print(id(num1))
num1 = 20
print(id(num1))

3028319928848
3028319929168

In [1]:
num1 = 10
print(id(num1))
num2 = 10
print(id(num2))  # different variable but same data denote same memory address..because python reduce memory usage

834162524688
834162524688

In [39]:
num = [1,2,3,4]
print(id(num))
num[0] = 10
print(num)
print(id(num))

3028446572928
[10, 2, 3, 4]
3028446572928

In [40]:
print("before append id = ",id(num))    # list id same even after change
num.append(10)
print("after append id = ",id(num))

before append id =  3028446572928
after append id =  3028446572928

In [41]:
num

[10, 2, 3, 4, 10]

In [42]:
num1=10
num2=10 
print("memory address of num1 = ",id(num1))
print("memory address of num2 = ",id(num2))

memory address of num1 =  3028319928848
memory address of num2 =  3028319928848

## Certain methods on String

In [43]:
name = "Shubham Chatterjee"

In [3]:
name = "Shubham Chatterjee"    # space also occupying index
name[0:9]

'Shubham C'

In [46]:
# lowercase our string
name.lower()

'shubham chatterjee'

In [49]:
# uppercase our string
name.upper()

'SHUBHAM CHATTERJEE'

In [50]:
name

'Shubham Chatterjee'

In [1]:
# reverse the string
name = "Shubham Chatterjee"
name[::-1]                           # slicing sytext start_part : end_part : step_size

'eejrettahC mahbuhS'

In [52]:
name.split()     #by default split base on spaces   # split into list

['Shubham', 'Chatterjee']

In [53]:
name

'Shubham Chatterjee'

In [55]:
sen1 = "Hi my name is Shivam. I am attending Python class today"    # split string into list(o/p always be in list)
print(sen1.split())

['Hi', 'my', 'name', 'is', 'Shivam.', 'I', 'am', 'attending', 'Python', 'class', 'today']

In [62]:
sen2 = "Hi+my+name+is+Shivam"    # + assign as a seperator
sen2.split("+")

['Hi', 'my', 'name', 'is', 'Shivam']

In [61]:
sen2.split()

['Hi,my,name,is,Shivam']

In [60]:
sen2[6:].split(',')    # use combine slice operation and given slit operation

['name', 'is', 'Shivam']

zeba madam's session

- primitive data type -int float string boolean none
- non-primitive -list dict set tuple 

- primitive datatyp -------int,float,str,boolean,none(use in other languages also)
- non-primitive datatype --- list,set,dictionary,tuple(only use in python)

- mutable datatype --- list , dictionary , 
- immutable datatype --- int, float, str, tuple, boolean, none

- values- values are mutanle

- dictionary -- mutable
- keys inside the dictionary are--> immutable


- set --> mutable
- element in set are---> immutable

- element - just a value inside list,tuple,set

- list  --  we can increase the list after it define (dynamic)
- array --  we can not increase the array after it define (static)

# 4) Tuple

In [1]:
student_1 = "Raj"
student_2 = "Raman"
student_3 = "Rohit"

In [21]:
students= []

In [2]:
student_names = ["Raj","Raman","Rohit"]

In [3]:
student_names[0] = "Manoj"

In [4]:
student_names

['Manoj', 'Raman', 'Rohit']

In [5]:
adhaar_nums = ['ANSDSDJ','KSJFFDFD','GDJGENF']

In [6]:
adhaar_nums[0] = 'BSDKORWSFJ'

In [7]:
adhaar_nums

['BSDKORWSFJ', 'KSJFFDFD', 'GDJGENF']

In [8]:
adhaar_tuple = ('ANSDSDJ','KSJFFDFD','GDJGENF')

In [9]:
print(adhaar_tuple)

('ANSDSDJ', 'KSJFFDFD', 'GDJGENF')

In [10]:
adhaar_tuple[0]          # tuple can access by indexing

'ANSDSDJ'

In [11]:
adhaar_tuple[0] = 'BSDKORWSFJ'             # we can not change in tuple

TypeError: 'tuple' object does not support item assignment

In [12]:
print(adhaar_tuple)

('ANSDSDJ', 'KSJFFDFD', 'GDJGENF')

## Creation on an empty tuple

In [13]:
sample=()

In [14]:
type(sample)

tuple

In [20]:
len(sample)

0

# Creation of a tuple with only element

In [2]:
sample_2 = ("Chatterjee")
type(sample_2)

str

In [4]:
sample_2 = ("Chatterjee",)

In [5]:
type(sample_2)

tuple

In [47]:
sample_3 = (1,2,3,["Shivam","Raman","Rajat"])

In [23]:
print(sample_3)

(1, 2, 3, ['Shivam', 'Raman', 'Rajat'])

In [26]:
sample_3[0]=10

TypeError: 'tuple' object does not support item assignment

In [48]:
sample_3[3].append('Raman')

In [49]:
sample_3

(1, 2, 3, ['Shivam', 'Raman', 'Rajat', 'Raman'])

In [52]:
sample_3[3].pop(1)

'Raman'

In [53]:
sample_3

(1, 2, 3, ['Shivam', 'Rajat', 'Raman'])

In [32]:
del sample_3   #entire delete is possible but changes are not...in tuple

In [33]:
sample_3

NameError: name 'sample_3' is not defined

In [38]:
sample_4 = ["Raman","Raj",("Rohit","Malini")]

In [36]:
sample_4[2]="Rajat"                 # we can completely change the tuple

In [37]:
sample_4

['Raman', 'Raj', 'Rajat']

In [46]:
sample_4[2][1]="Akshay"     #we are trying to change within tuple instead of malini

TypeError: 'tuple' object does not support item assignment

In [1]:
sample_4 = ["Raman","Raj",("Rohit","Malini")]
sample_4[2][1]

'Malini'

In [54]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [62]:
T2=(1,2,3,["delhi","newyork"])           #list within tuple considers as single element
T2[3].extend(["mexico"])
print(T2)

(1, 2, 3, ['delhi', 'newyork', 'mexico'])

## Functions present in tuple --- count, index

In [89]:
names = ("Neeraj","Ram","Raman","Neeraj","Raman","Neeraj")

In [87]:
len(names)

6

In [64]:
names.count("Neeraj")

3

In [69]:
names.index("Raman")

2

In [70]:
names = ["Neeraj","Rajat","Rohit"]

In [71]:
names.clear()           #clear() not function of tuple

In [72]:
names

[]

In [85]:
len(names)

0

# 5) Sets        -collection of unique elements
duplicates are not allow

 - tuple = ()
 - list = []
 - sets = {}
 - dict = {}

In [90]:
names_set = {"Neeraj","Ram","Raman","Neeraj","Raman","Neeraj"}

In [91]:
type(names_set)

set

In [2]:
names_set = {"Neeraj","Ram","Raman","Neeraj","Raman","Neeraj"}
print(names_set)     #why getting only 3 values..duplicates are not allow in sets..only unique elements

{'Ram', 'Neeraj', 'Raman'}

In [93]:
names_set           # in set there is not order...set like bag- ball inside

{'Neeraj', 'Ram', 'Raman'}

In [94]:
{'Raman', 'Ram', 'Neeraj'} == {'Neeraj', 'Ram', 'Raman'} # order of elements does not matter in set

True

In [95]:
names_set

{'Neeraj', 'Ram', 'Raman'}

In [96]:
print(names_set)

{'Raman', 'Ram', 'Neeraj'}

In [3]:
names_set = {"Neeraj","Ram","Raman","Neeraj","Raman","Neeraj"}
names_set[0]            # indexing is not possible in set(unordered collection of distinct elements)

TypeError: 'set' object is not subscriptable

In [98]:
help(set)        # no sorting in set first need to convert into list then sort()

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Sets
- unordered(no indexing) collection of distinct (unique,no dublicate) elements

In [1]:
names = {"Raman","Rahul","Raj","Rahul"}

In [2]:
print(names)

{'Raj', 'Raman', 'Rahul'}

### indexing is not supported in sets

In [3]:
names[0]

TypeError: 'set' object is not subscriptable

## mutability

In [5]:
names.add("Rohan")

In [6]:
names

{'Rahul', 'Raj', 'Raman', 'Rohan'}

In [7]:
names.remove("Rahul")

In [8]:
names

{'Raj', 'Raman', 'Rohan'}

In [9]:
names.add("Rohan")

In [10]:
names

{'Raj', 'Raman', 'Rohan'}

In [11]:
football = {"afsal","rohan","rahul","raman"}
cricket = {"rahul","raman","chatterjee","rajat"}

In [13]:
playes_both_sport = football.intersection(cricket)    # we can take any set at first ft. or cr. # function intersection

In [14]:
print(type(playes_both_sport))

<class 'set'>

In [15]:
plays_either_of_sports = football.union(cricket)    # function union

In [16]:
plays_either_of_sports

{'afsal', 'chatterjee', 'rahul', 'rajat', 'raman', 'rohan'}

In [4]:
set = {1,3,(3,4,5),"rajdeep",[5,6,7]}  # we can have only immutable datatype in set elements

TypeError: unhashable type: 'list'

In [23]:
type({})

dict

In [37]:
print(dict())

{}

In [38]:
print(set())

set()

In [34]:
print(type(names_set))

<class 'set'>

In [30]:
len(names_set)

0

In [31]:
names_set.add("Rajat")

In [32]:
names_set

{'Rajat'}

In [39]:
print(list())

[]

In [5]:
set = {"a","b","c"}
set.add("e")
print(set)

{'b', 'e', 'c', 'a'}

## set can have only ( immutable elements )

In [44]:
{"Rahul",("Raj","Raman")}

{('Raj', 'Raman'), 'Rahul'}

In [49]:
## set can't have set within it
{"Rajat","Raman",{"Rohit","Chatterjee"}}

TypeError: unhashable type: 'set'


## what are the datatypes that are not allowed in set

- list
- set
- dictionary

# 6) dictionary (dict)

### lets assume we have 5 students
- Rahul: 50
- Rajat: 87
- Skggote:90
- Dhanush:76
- Harsh:99

above are associated data

- tuple
- list

In [5]:
students_marks = [["Rahul",50],["Rajat",87],["Skggote",90],["Dhanush",76],["Harsh",99]]
students_marks[0]

['Rahul', 50]

In [59]:
student_marks = {"Rahul":50,"Rajat":87,"Skggote":[90],"Dhanush":76,"Harsh":99,"Rahul":59} 
# rules application to sets same applicable to keys in dict and not on values

In [56]:
student_marks["Rahul"]    # rahul rajat skggote dhanush harsh  are keys & 50 87 90 76..are values

59

In [57]:
student_marks

{'Rahul': 59, 'Rajat': 87, 'Skggote': 90, 'Dhanush': 76, 'Harsh': 99}

## ***Keys*** in dictionary are unique and are of**** immutable*** data type
but values can be mutable form e.g. list form

In [60]:
{"Rahul":90,["Rajat","Raman","Rohit"]:90}

TypeError: unhashable type: 'list'

#### Which of the dictionary definition is correct?
- a) {"Rahul":67 , "Raman":[395,494] , 90:[1,2,3,4,{5,6}]}
- b) {"Rahul":67 , "Raman":[395,494] , [90]:[1,2,3,4,{5,6}]}   #option b wrong
- c)  {"Rahul":67 , "Raman":{395,494} , 90:[1,2,3,4,{5,6}]}

In [61]:
# a option
{"Rahul":67,"Raman":[395,494],90:[1,2,3,4,{5,6}]}

{'Rahul': 67, 'Raman': [395, 494], 90: [1, 2, 3, 4, {5, 6}]}

In [7]:
# b option               # [keys-allow immutable only i.e. numbers,string,tuple]not mutable(list,set,dict)
{"Rahul":67,"Raman":[395,494],[90]:[1,2,3,4,{5,6}]}

TypeError: unhashable type: 'list'

In [65]:
{"Rahul":67,"Raman":[395,494],(90,):[1,2,3,4,{5,6}]}

{'Rahul': 67, 'Raman': [395, 494], (90,): [1, 2, 3, 4, {5, 6}]}

In [66]:
# c
{"Rahul":67,"Raman":{395,494},90:[1,2,3,4,{5,6}]}

{'Rahul': 67, 'Raman': {395, 494}, 90: [1, 2, 3, 4, {5, 6}]}

In [67]:
my_dict = {"Rahul":67,"Raman":{395,494},90:[1,2,3,4,{5,6}]}   # values can be anything..restrition on only keys

In [68]:
my_dict['Rahul']

67

In [69]:
my_dict['Raman']

{395, 494}

In [70]:
my_dict["Rohit"]

KeyError: 'Rohit'

In [71]:
my_dict[90]

[1, 2, 3, 4, {5, 6}]

## doubt clearing session (revision)

there are 5 datatype -->
- numeric datatype - int,float,complex
- sequence type - str,list,tuple
- boolean datatype
- dictionary datatype
- set datatype

- mutable-- list, dict, set,(it can be change)
- immutable-numeric dtype,str, tuple, boolean (it can not be change)

In [ ]:
type()
id()

In [ ]:
tuple-- item are ordered, unchangeable and allow duplicate values(tuple is faster than list)
array - consist of similar type of dtype

In [3]:
z =[]
type(z)

list

In [ ]:
inbuild funtions in set--> union,intersection,add

there are two type of loop
- for loop --> when we know the number of iteration(repeatation)
- while loop --> when we know the condition

In [4]:
# hello word 100 times weite..we know iteration use for loop
for i in range(0,5):
    print("hello world",end=" ")
    print(i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [5]:
list1 = [12,22,34,5,66,7,8,5]

for i in range(len(list1)):   # printing indexes
    print(i, end=" ")

0 1 2 3 4 5 6 7

In [6]:
list1 = [12,22,34,5,66,7,8,5]

for i in list1:        # printing list elements
    print(i, end=" ")

12 22 34 5 66 7 8 5

functions in list--> append ,pop, sort

In [7]:
x = [10,20,30,5,6,8]
print(x)
print(x.pop())
print(x)
x.append(90)
print(x)
print(sorted(x))

[10, 20, 30, 5, 6, 8]
8
[10, 20, 30, 5, 6]
[10, 20, 30, 5, 6, 90]
[5, 6, 10, 20, 30, 90]

In [8]:
dictionary = {"name":"xyz","Roll no":78,"name":"uuu","raj":78}  # keys are unique and value can be duplicated
print(dictionary)
set1 =set(dictionary)
set1

{'name': 'uuu', 'Roll no': 78, 'raj': 78}

{'Roll no', 'name', 'raj'}

In [9]:
dictionary = {"name":"xyz","Roll no":78}
print(dictionary.keys())
print(dictionary.values())

dict_keys(['name', 'Roll no'])
dict_values(['xyz', 78])

In [10]:
x= "this is a string"  # capitalise first function of string
print(x.title())
print(x.lower())
print(x.upper())

This Is A String
this is a string
THIS IS A STRING

In [11]:
#membership --> in and not in

list1 = [10,20,30]
for i in list1 :
    if i in list1:
        print(True)
    else:
        print(False)

True
True
True