In [5]:
## take input from the user
age = int(input())

17

In [6]:
print(age)

17

In [11]:
age = input()

18.5

In [13]:
float(age)

18.5

In [9]:
age = int(age)

In [10]:
age

19

In [16]:
age = int(input())

65

In [15]:
age

90

17

In [4]:
age = int(input())
if age>18:
    print("Welcome to instagram")
    print("You are eligible")
else:
    print("You are underage\nYou cannot access instagram")

17
You are underage
You cannot access instagram

In [ ]:
## write a code that checks whether a number is even or odd

# if - else

In [34]:
num = int(input("Kindly enter the number : "))

if num%2==0:
    print(num," is an even number")
else:
    print(num," is an odd number")

Kindly enter the number : 87
87  is an odd number

## if-elif-else

In [39]:
num = int(input("Kindly enter the number : "))

if num > 30:
    print("Awesome the number is greater than 30")
elif (num >=20 and num <=30):
    print("Nice the number is between 20 and 30")
else:
    print("Poor the number is less than 20")

Kindly enter the number : 21
Nice the number is between 20 and 30

Write a program to accept percentage from the user and display the grade according to the following criteria:
-          Marks                                    Grade
-         > 90                                         A
-         > 80 and <= 90                               B
-         >= 60 and <= 80                              C
-         below 60                                     D

In [6]:
perc = float(input())

if perc >100:
    print("Invalid Input")
elif perc>90:
    print("A")
elif perc >80 and perc <=90:
    print("B")
elif perc >=60 and perc <=80:
    print("C")
else:
    print("D")

56
D

In [44]:
a = float(input())
if a > 90:
    print("Grade A")
elif a >80:
    print("Grade B")
elif a >60:
    print("Grade C")    
else:
    print("Grade D")

90
Grade B

## session by rahul sir resume

## For loop --only for iteration(for doing repeated task..for multiple time)

In [1]:
students = ["Rakesh","Ramesh","Rajesh"]

In [2]:
print(students[0])
print(students[1])
print(students[2])

Rakesh
Ramesh
Rajesh

In [17]:
students = ["Rakesh","Ramesh","Rajesh"]

for name in students:                     # here "name" variable created-->one element take from students and store in name
    print(name)                           # and stored element in name--printed through command-->loop created
    print("------")
    
print("After for loop")

Rakesh
------
Ramesh
------
Rajesh
------
After for loop

In [16]:
num_list = [0,1,2]

for num in num_list:
    print(num,"--->",students[num])   # students[num]=>num use because..num representing element position location within students list

0 -----> Rakesh
1 -----> Ramesh
2 -----> Rajesh

- is there better way to generate above indexing without making list

#### range function
range(start,end+1):

In [26]:
for num in range(40,45):
    print(num)

40
41
42
43
44

In [24]:
students = ["Rakesh","Ramesh","Rajesh"]

for num in range(0,len(students)):        #instead of len(students) we can write 3..but need to count & write every time so that denote only with variable
    print(num,"------->",students[num])   # students[num] mean students[0],students[1],students[2].etc placed elements

0 -------> Rakesh
1 -------> Ramesh
2 -------> Rajesh

In [33]:
marks_list = [10,20,30,40]
total = 0                    # created variable total which consider as initially 0
for marks in marks_list:
    total = total + marks  # put into python tutor and visualize # total + makrs stored in total again same total marks use in operation--loop
                              # we need total so that we use two time total
print(total)

100

In [1]:
# Print list in reverse order using a loop
input = [1,2,3,4,5,6,7,8]

output = 8 7 6 5 4 3 2 1

In [ ]:
range(start,end,steps)   #by default +1 take    # end part not included

In [25]:
input_lst = [1,2,15,4,5,16,17,18]
for i in range(len(input_lst)-1,-1,-1):   
    print(i,end = ' ')
          # above we are not working with input list..only indexing

7 6 5 4 3 2 1 0

In [24]:
input_lst = [1,2,15,4,5,16,17,18]
for i in range(len(input_lst)-1,-1,-1):    # len(input_lst)-1  this provide index of last elements(dynamic)
    print(input_lst[i],end = ' ')        # till -1  because last element does not consider..if take -1 then consider till 0
          #above input_lst[i] now we are working with input list                          # another -1 steping

18 17 16 5 4 15 2 1

In [1]:
for i in range(8,-1,-1):
    print(i , end = " ")

8 7 6 5 4 3 2 1 0

In [6]:
input_lst = "Chatterjee"
for i in range(len(input_lst)-1,-1,-1):   #here actually we are creating indexes in reverse order and using those indexes on our list to get those elements in reverse order
    print(input_lst[i],end = '')           #in this case i printede actual element of string

eejrettahC

In [11]:
input_lst = "Chatterjee"
for i in range(len(input_lst)-1,-1,-1):
    print(i,end = ' ')                     # in this case i printed indexing number of element

9 8 7 6 5 4 3 2 1 0

In [27]:
for i in range(19,12,-1):
    print(i , end = "+")

19+18+17+16+15+14+13+

In [52]:
# write a program to all the even indexes number from the list
given_list = [1,2,3,4,5,6,7,8]

a=0

for i in range(0,len(given_list)):
    if i%2==0:                     #here we are checking even index places not even numbers
        a=a+i     #--->adding indexes only
print(a)

12

In [54]:
given_list = [1,2,3,4,5,6,7,8]

a=0

for i in range(0,len(given_list)):
    if i%2==0:                     #here we are checking even index places not even numbers
        a=a+given_list[i]    #----> index elements adding
print(a)

16

In [63]:
# Display fibonacci series up to n terms

n=int(input())

a=0
b=1

print(a)
print(b)

for i in range(0,n):
    new_no = a + b         # same number loop and not going next  &  need to go next number so that-convert next-next
    
    print(new_no)

6
0
1
1
1
1
1
1
1

In [11]:
n=int(input())

n1=0
n2=1

print(n1,end=" ")
print(n2,end=" ")

for i in range(0,n):      # for loop--> is for repetation only
    new = n1 + n2
    
    n1 = n2             # n1 becomes n2 i.e. n1 get stored value of n2
    n2 = new            # n2 becomes new i.e.n2 get stored value of new --> shifting will happens
    
    print(new,end=" ")

8
0 1 1 2 3 5 8 13 21 34

Hi fellows kindly attempt this question:

Write a program to print table of 12

example: 12X1 = 12 12X2 = 24

12X3 = 36 12X4 = 48 12X5 = 60 12X6 = 72

In [2]:
n=12

for i in range(1,11):
    table = n*i
    print(n,"x",i ,"=" ,table)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [7]:
# factorial  e.g. 5!
n = 5

fact = 1                   # we created one variable to assign...and which denote with 1 for initialisation
for i in range(n,0,-1):    # e.g. i convert 5 then 4 then 3 etc..2,1 & not 0 include
    fact = fact*i
    
print(fact)

120

In [6]:
print("*"*5)

*****

In [7]:
"Neha"*2

'NehaNeha'

## Pattern Printing

In [10]:
num_rows = 5
for row in range(1,num_rows+1):      # +1 we take because last no not included
    print("*"*row)                # row --> this was printing

*
**
***
****
*****

In [15]:
num_of_rows = 5
for row in range(1,num_of_rows+1):
    print("*"*(num_of_rows+1-row))    # num_of_rows+1-row ---> this was printing i.e. 6-1

*****
****
***
**
*

In [15]:
num_rows = 8
for row in range(1,num_rows+1):
    print("*"*row)
    
num_of_rows = num_rows-1
for row in range(1,num_of_rows+1):
    print("*"*(num_of_rows+1-row))

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

In [3]:
num_rows = 3
total_rows = num_rows*2-1
for i in range(1,total_rows+1):
    if i>num_rows:
        print()

In [4]:
for i in range(1,6):
   for j in range(1,i+1):
      print(j,end=" ")
   print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

boolean datatype

In [6]:
a=2
b=3

In [7]:
a==b

False

In [9]:
a<b

True

In [11]:
type(True)

bool

False

in operator

In [ ]:
student = ["rajdeep","venti","raman","rohit"]     # any collection we can use tuple instead list
name ="raman"
name in student

In [17]:
not(True)    # use to reverse the vlue

False

In [19]:
not("raj" in student)

True

In [20]:
"raj" in student

False

In [21]:
"raj" not in student

True

1
1 2 
1 2 3 
1 2 3 4
1 2 3 4 5 

print this pattern

In [43]:

for row in range(1,6):  # here row-->1,2,3,4,5
   
    for col in range(1,row+1):    # here becomes range(1,2)(1,3)(1,4)(1,5)(1,6) last value not included       
        print(col,end=" ")
    print()                # print() we don't provide any parameter then it goes to new line..this print for outer for

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

write a program to print the following pattern
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [53]:
for row in range(7,0,-1):
    for col in range(row,0,-1):
         print(col,end=" ")
    print()

7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [55]:
# using variable
total_rows = 7

for row in range(1,total_rows+1):
    for col in range(total_rows+1-row,0,-1):
         print(col,end=" ")
    print()

7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [1]:
for i in range(1,5):
   for j in range(1,i+1):
      print(j,end=" ")
   print()

for i in range(5,0,-1):
   for j in range(i,0,-1):
      print(j,end=" ")
   print()

1
1 2
1 2 3
1 2 3 4
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [5]:
# fol...loop
for i in range(1,11):             # use for loop only when we know the range..i.e. start & end
    print(i)                      # while loop when we dont know the end range

1
2
3
4
5
6
7
8
9
10

In [15]:
# while....loop          (here is not by default value like in for....loop)
i = 1

while i < 11 :
    print(i)
    i = i + 1                       # i += 1

1
2
3
4
5
6
7
8
9
10

## table

In [17]:
i = 2

while i < 22 :
    print(i)
    i = i + 2

2
4
6
8
10
12
14
16
18
20

In [22]:
i = 1

while i <= 10 :
    print(2*i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20

# lenght of digit

In [3]:
num = int(input("Enter a number :"))    #4631
counter =0

# num = num // 10     #46
# counter += 1        #1

# num = num // 10     #4
# counter += 1        #2

# num = num // 10    #0
# counter += 1       #3

while num != 0:             # !=   not equal to
    num = num // 10
    counter += 1
    
print("enter of digit :",counter)

Enter a number :20201211
enter of digit : 8

## sum of digit

In [5]:
num = int(input("Enter a number :"))  # 123      
sum = 0

while num > 0:
    digit = num % 10     # remainder 3......... digit always written last digit  ||  2   ||   1
    sum = sum + digit    # 3           || 5    ||    6  <---we get 6 finally
    num = num // 10      # num 12      ||  1   ||    0
    
print(sum)

Enter a number :564
15

## reverse of digits

In [6]:
number = int(input("Enter a number that u want: ")) # 123
rev = 0

while number > 0:
    digit = number % 10     # 3  || 2  || 1 
    rev = rev * 10 + digit  # 3  || 32 || 321
    number = number // 10   # 12 || 1  || 0

print(rev)

Enter a number that u want: 12345
54321

## string

In [7]:
# string - is a collectioon of characters
# immutable
# indexed-based
# iterable
# it is an object

str1 = 'Python'
print(str1)

str1 = "Python"
print(str1)

str1 = '''Python'''
print(str1)

str1 = """Python"""
print(str1)

"""
str2 = "Python's session is going on..."
print(str2)

str2 = '''Python's session starts at "7:30pm"'''
print(str2)
"""

str3 = str("Bharati")
print(str3)

Python
Python
Python
Python
Bharati

In [8]:
str1 = "     Python is a programming language     "
print("OG : ",str1)

# upper = str1.upper()
# print("Upper : ",upper)

# lower = str1.lower()
# print("Lower : ",lower)

# capatialize = str1.capitalize()            # initial letter into capital
# print("Capitalize : ",capatialize)

# startsWith = str1.startswith("Python")
# print("Startswith : ",startsWith)

# endsWith = str1.endswith("programming language")
# print("Endswith : ",endsWith)

# is_lower = str1.islower()
# print("Islower : ",is_lower)

# is_upper = str1.isupper()
# print("Isupper : ",is_upper)

# length = len(str1)
# print("Length : ",length)

# swap_case = str1.swapcase()
# print("Swap case : ",swap_case)

# replace_demo = str1.replace("o","a")
# print("Replace : ",replace_demo)

# replace_demo = str1.replace("Python","Java")
# print("Replace : ",replace_demo)

# strip_demo = str1.strip()
# print("Strip : ",strip_demo)

rstrip_demo = str1.rstrip()
print("RStrip : ",rstrip_demo)

lstrip_demo = str1.lstrip()
print("LStrip : ",lstrip_demo)

OG :       Python is a programming language
RStrip :       Python is a programming language
LStrip :  Python is a programming language

In [2]:
i = 0
while i<6:
 
    print(i)
    i = i + 1

0
1
2
3
4
5

In [1]:
i = 0
while i<10:
    
    i = i + 1        #   i += 1
    if i == 4:
        break
    print(i)
             
print("out of for loop")

0
1
2
3
out of for loop

In [3]:
i = 0
while i<10:
    
    i = i + 1
    if i == 5:
        continue         # we use continue for skipping that number after that continue
    print(i)

1
2
3
4
6
7
8
9
10

string ASCII value

In [9]:
print("ASCII VALUE of A =",ord("A"))
print("ASCII VALUE of Z =",ord("Z"))

ASCII VALUE of A = 65
ASCII VALUE of Z = 90

In [10]:
90-65+1

26

In [11]:
chr(ord("A")+4)

'E'

In [13]:
ord("A")

65

In [14]:
chr(69)  # reverse func

'E'

In [15]:
"A".lower()

'a'

In [16]:
ord("A")

65

In [17]:
ord("a")

97

In [18]:
97-65

32

In [20]:
chr(ord("A")+32)

'a'

### string concatenation

In [21]:
"venki"+"raman"

'venkiraman'

In [22]:
"venki"+" "+"raman"

'venki raman'

In [23]:
"*"*10

'**********'

In [24]:
"*"*"5" # only addition of string is allow not multiplication

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
# variable assign
a,b,c = "raj",20,30    # here u can use list or tuple also

In [26]:
a      # unpacking

'raj'

In [27]:
b

20

In [28]:
c

30

In [ ]:
# nested set is not possible...because elements inside set are immutable...and set itself is mutable

 print following pattern useing 
 1) for loop
 2) while loop
    *
   **
  ***
 ****
*****

In [10]:
n = 5
for i in range(n+1):
    for j in range(n,i,-1):     # (n - i)*" " + "*"*i
        print(" ",end="")
    print("*"*i)

    *
   **
  ***
 ****
*****

In [19]:
n = 5
for i in range(n+1):
    pattern=(n - i)*" " + "*"*i
    print(pattern)

    *
   **
  ***
 ****
*****

In [18]:
n = 6
i = 1
while i<n :
    print((n - i)*" " + "*"*i)
    i = i+1

     *
    **
   ***
  ****
 *****

In [4]:
#creat a dictionary with the number as key and the count of that number as value
#marks = [10,12,30,40,41,52,53,10]
# {10:2,12:1...and so on} / {element:count_of_that_element}

mark = [10,12,30,30,40,41,40,52,53,10]

mark_dict = {}                         # created a blank dictionary to store keys and values

for i in marks:
    
    dict_key = i
    
    dict_value = marks.count(i)
    
    mark_dict[dict_key] = dict_value  
    
print(mark_dict)

{10: 2, 12: 1, 30: 1, 40: 1, 41: 1, 52: 1, 53: 1}

In [20]:
marks = [10,12,30,40,41,40,52,53,10]

mark_dict = {}

for i in marks:
       if i not in mark_dict:          # to check on list for avoid same operations two times 
        
        mark_dict[i] = mark.count(i)
        
print(mark_dict)

{10: 2, 12: 1, 30: 2, 40: 2, 41: 1, 52: 1, 53: 1}

In [2]:
marks = [10,12,30,40,41,40,52,53,10]
mark_dict ={}

for i in marks:
    
    if i in mark_dict.keys():
        
        mark_dict[i]= mark_dict[i]+1   # mark_dict[i] mean value of i key
        
    else:
        mark_dict[i]=1
        
print(mark_dict)

{10: 2, 12: 1, 30: 1, 40: 2, 41: 1, 52: 1, 53: 1}

In [4]:
mark_dict.keys()

dict_keys([10, 12, 30, 40, 41, 52, 53])

In [5]:
mark_dict.values()

dict_values([2, 1, 1, 2, 1, 1, 1])

In [6]:
mark_dict.items()             #to get keys & values in the form of tuple

dict_items([(10, 2), (12, 1), (30, 1), (40, 2), (41, 1), (52, 1), (53, 1)])

In [15]:
for mr,cnt in mark_dict.items():           # mr and cnt are variables which store values from mark_dict
    print(mr,"----->",cnt)

10 -----> 2
12 -----> 1
30 -----> 1
40 -----> 2
41 -----> 1
52 -----> 1
53 -----> 1

In [18]:
for num in mark_dict.items():          
    print(num)

(10, 2)
(12, 1)
(30, 1)
(40, 2)
(41, 1)
(52, 1)
(53, 1)

In [17]:
print(mark_dict)

{10: 2, 12: 1, 30: 1, 40: 2, 41: 1, 52: 1, 53: 1}

marks_dict = {
    
    "Sana":[50,51,90,65,43],
    "Bhushan":[87,35,65,34,65],
    "Swetha": [65,45,76,43,56],
    "Rajat": [90,12,23,54,56]
}

the above dictionary create a new dictionary where the key is the name of the student
and value is the average marks the student got in last 5 exams

In [12]:
marks_dict1 = {
"Sana":[50,51,90,65,43],
"Bhushan":[87,35,65,34,65],
"Swetha": [65,45,76,43,56],
"Rajat": [90,12,23,54,56]
}

for mr,cnt in marks_dict1.items():
    
    print(mr,"----->", sum(cnt)/len(cnt) )

Sana -----> 59.8
Bhushan -----> 57.2
Swetha -----> 57.0
Rajat -----> 47.0

In [13]:
marks_dict1 = {
"Sana":[50,51,90,65,43],
"Bhushan":[87,35,65,34,65],
"Swetha": [65,45,76,43,56],
"Rajat": [90,12,23,54,56]
}

average_dict = {}
for student,marks in marks_dict1.items():  # for call_keys,call_values in call_dict_name.items():
    average = sum(marks) / len(marks)
    average_dict[student] = average         # dict_name[keys] = values
     
print(average_dict)

{'Sana': 59.8, 'Bhushan': 57.2, 'Swetha': 57.0, 'Rajat': 47.0}

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefghi
abcdefghij

above apttern print

In [15]:
for row in range(1,11):
    for col in range(1,row+1):
        print(chr(96+col),end="")
    print()

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij

In [19]:
num_sequences = 10

for i in range(1,num_sequences + 1):
    sequence = ""
    for j in range(i):
        sequence = sequence + chr(ord('a')+j)
    print(sequence)

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij

In [20]:
n = 10
for i in range(0,10):
    x = 97
    for j in range(0,i+1):
        print(chr(x),end="")
        x=x+1
    print()

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij

## nested dictionary

In [1]:
marks = {
          "sana":{
                   "python":{"12th june":90,"12th june":90},
                   "ML":87,
                   "Deep Learning":87  
                 }
        }

In [2]:
marks["sana"]

{'python': {'12th june': 90}, 'ML': 87, 'Deep Learning': 87}

In [3]:
marks["sana"]["python"]["12th june"]

90

In [1]:
                                  # dict allow in only value part not in key part
dict_marks = {   
                 "raj":{"python":90,"java":50},
                 "raman":{"python":80,"java":100},
                 "sana":{"python":20,"java":80}
             }

In [7]:
dict_marks["raman"]["java"]

100

In [15]:
dict_marks["raj"]["python"]

90

In [5]:
for key,val in dict_marks.items():
    for inner_key,inner_val in val.items():
        print(key,"----->",inner_val)

raj -----> 90
raj -----> 50
raman -----> 80
raman -----> 100
sana -----> 20
sana -----> 80

12344321
123**321
12****21
1******1

print above pattern

In [9]:
for i in range(4):
    base_str = "1234"                            
    base_str = base_str[ :len(base_str)-i]+"*"*i        # slice of this string
    base_str = base_str + base_str[: : -1]              # for reverse
    print(base_str)

12344321
123**321
12****21
1******1